.error-message {
  color: red;
  font-size: 0.9em;
}

.big-button {
  background-color: #0056b3;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 10px;
}

.big-button:hover {
  background-color: #003f7f;
}

.small-button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  background-color: #0056b3;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.small-button:hover {
  background-color: #003f7f;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  background: #f2f2f2;
}

nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: #0056b3;
  padding: 10px 20px;
}

.nav-container {
  width: 600px;
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0;
  transition: background-color 0.3s ease; /* Smooth hover transition */
}