.comment-container {
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #f9f9f9;
}

.comment-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comment-item {
  padding: 5px;
  border-bottom: 1px solid #eaeaea;
  position: relative;
}

.comment-content {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-wrap: break-word;
}

.comment-meta {
  font-size: 12px;
  color: #777;
}

/* Editing Comment */
.comment-edit {
  margin-top: 10px;
}

.comment-edit textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  outline: none;
  box-sizing: border-box;
}

.comment-edit textarea:focus {
  border: 1px solid #0056b3;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
}

.buttons-container button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 5px;
}

/* Add New Comment Form */
.comment-form {
  margin-top: 20px;
}

.new-comment-textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  box-sizing: border-box;
}

.new-comment-textarea:focus {
  border: 1px solid #0056b3;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}