.home-page-h1 {
  font-size: 2em;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Blips Section */

.home-page-blip-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 20px;  
}

.home-page-blip-header {
  text-align: left;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  padding: 10px;
  gap: 10px;
}

/* Buttons alignment */
.home-page-button {
  align-self: flex-start; /* Ensure buttons are left-aligned within the centered header */
  padding: 10px 20px;
  margin: 5px 0;
  cursor: pointer;
}

.home-page-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;   /* Removes bullets */
}

/* Individual items */
.blip-item {
  text-align: left;
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
  max-width: 600px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* Hover effect */
.blip-item:hover {
  cursor: pointer;
}

/* Image styling inside the item */
.blip-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.blip-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.blip-content {
  flex-grow: 1;
}

.blip-content p {
  font-size: 1.1em;
  color: #333;
  margin-top: 10px;
}

.blip-content small {
  font-size: 0.9em;
  color: #888;
}

.home-page-button {
  background-color: #f5ba1a;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 1em;
  margin-top: 10px;
}

.home-page-button:hover {
  background-color: #e1a70a;
}

.error-message {
  margin-bottom: 20px;
}

/* Responsive design tweaks */
@media (max-width: 600px) {
  .home-page-blip-list-container {
    padding: 10px;
    margin: 0 auto;
    max-width: 100%;
    display: block;
    overflow-x: hidden;
  }

  .blip-item {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .home-page-blip-header {
    width: 90%;
  }
}